<h4 class="mb-3">
  <%= t("admin.actions.reset_password.are_you_sure", object_label: @model_config.with(object: @object).object_label) %>
</h4>

<%= form_with(model: @object, url: reset_password_path(model_name: @abstract_model.to_param, id: @object.id), method: :put, local: true) do |f| %>
  <%= hidden_field_tag :return_to, params[:return_to].presence || request.referer %>
  <%= f.hidden_field :password, value: SecureRandom.urlsafe_base64(12) %>

  <div class="form-actions">
    <%= f.button type: :submit, class: "btn btn-danger", data: { disable_with: t("admin.form.confirmation") } do %>
      <i class="fas fa-check" aria-hidden="true"></i>
      <%= t("admin.form.confirmation") %>
    <% end %>

    <%= link_to rails_admin.index_path(@abstract_model.to_param), class: "btn btn-secondary", data: { disable_with: t("admin.form.cancel") } do %>
      <i class="fas fa-times" aria-hidden="true"></i>
      <%= t("admin.form.cancel") %>
    <% end %>
  </div>
<% end %>
